/* Add Google's Roboto Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    /* This sets the default font family to Roboto everywhere */
    font-family: 'Roboto', sans-serif;
    background-color: #E3E4E5;/* #013440; */
}
h1, h2, h3, h4, h5, h6, strong {
    /* This overrides the default setting for the 'body' tag with 
     * a special font for our headers */
    font-family: 'Montserrat', sans-serif;
    color: #666;/*#046380; */
}

.container {
    width: 60%;
    margin: auto;
}

#about-me {
    height: 200px;
}
#about-me .content {
    height: 100%;
    width: 50%;
    float: left;
}
#about-me .content img {
    height: 100%;
    float: right;
    padding-right: 10%;
}

.section {
    display: inline-block;
    margin-bottom: 0.5em;
    padding: 1em;
    background-color: white;
    width: 100%;
    box-shadow: 5px 5px 5px #888888;
}




/* Media Queries
 * 
 * Screen Type    | Desired Behavior
 * ---------------------------------
 * Desktop        | Main content should be centered on screen, 60% of width
 *                | Image should appear to the side of name
 * Mobile/small   | Main content should be centered on screen, 95% of width
 *                | Image should appear above name, stacked
 */
@media (max-width: 900px) {
    .container {
        width: 80%;
    }
}
@media (max-width: 600px) {
    body {
        text-align: center;
    }
    .container {
        width: 95%;
        margin: auto;
    }
    #about-me {
        height: 300px;
    }
    #about-me .content {
        width: 100%;
        height: 50%;
        float: left;
        text-align: center;
    }
    #about-me .content img {
        float: none;
        padding-right: 0;
    }
}