/* Add Google's Roboto Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    /* This sets the default font family to Roboto everywhere */
    font-family: 'Roboto', sans-serif;
    background-color: #E3E4E5;/* #013440; */
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    /* This overrides the default setting for the 'body' tag with 
     * a special font for our headers */
    font-family: 'Montserrat', sans-serif;
    color: #666;/*#046380; */
}

pre, iframe {
    width: 48%;
    height: 800px;
    border: 0px;
    float: left; 
    background-color: #FFF;
}

nav {
    background-color: #FFFFFF;
    margin: 0;
    padding: 1em;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
}

nav img.logo {
    height: 100%;
    float: left;
}
nav h4 {
    float: left;
    margin-left: 20px;
}
nav select {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}


pre[class*='language-'] {
    margin: 0;
}
pre[class*="language-"] > code[data-language] {
	max-height: none;
}

